{% extends "base.html.twig" %}

{% block body %}
    

<div class="p-5 m-5 text-center">
<h1 class="mb-5 font-weight-bold">Bienvenue chez les Alumnis Simplon !</h1>

<p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, natus atque? Quas itaque fugiat accusantium, cum dicta sapiente quae eos aliquid voluptatem nobis doloribus odio iusto nihil, placeat assumenda, facilis fuga expedita magnam iste? Facilis temporibus doloribus odit eaque nulla!</p>
<p class="">Neque quas, dolorem, eaque architecto placeat adipisci cumque molestiae, similique amet suscipit blanditiis quia vitae ipsam fuga eum beatae dolore in. Qui culpa repellendus, at perspiciatis, ducimus praesentium soluta vero deserunt nihil mollitia eveniet, id doloribus omnis accusantium tempora amet.</p>
<hr>
<h4 class="mt-5">Clique sur l'onglet <b>"Aide moi !"</b> dans la navbar pour voir les posts dans cette catégorie</p>
</div>

{% endblock %}

